.todo-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 50%; 
  margin: 0 auto; 
}

.todo-list {
  margin-top: 20px;
  background-color: #d9d9d9;
  padding: 20px;
  height: 60vh;
  width: 80%; 
  overflow-y: auto;
}

h1 {
  color: #333;
}

button {
  padding: 20px;
  margin-top: 20px;
  cursor: pointer;
  background-color: gray;
  color: #fff;
  border: none;
  height: 5vh;
}

button:hover {
  background-color: black;
}

.todo-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 15px;
  background-color: #fff;
  width: 93%; 
}
